<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="NanoProfiler" version="2.2.1" targetFramework="net472" />
  <package id="NanoProfiler.Storages.Json" version="2.2.1" targetFramework="net472" />
  <package id="NanoProfiler.Wcf" version="2.2.1" targetFramework="net472" />
  <package id="NanoProfiler.Web" version="2.2.1" targetFramework="net472" />
  <package id="NanoProfiler.Web.Import" version="2.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net472" />
  <package id="slf4net" version="1.0.0" targetFramework="net472" />
</packages>