<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nanoprofiler" type="EF.Diagnostics.Profiling.Configuration.NanoProfilerConfigurationSection, NanoProfiler" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<nanoprofiler storage="EF.Diagnostics.Profiling.Storages.Json.JsonProfilingStorage, NanoProfiler.Storages.Json">
		<filters>
			<add key="_tools" value="_tools/" type="contain" />
			<add key="exts" value="ico,jpg,js,css" type="EF.Diagnostics.Profiling.Web.ProfilingFilters.FileExtensionProfilingFilter, NanoProfiler.Web" />
			<add key="ViewProfilingLogsHandlers" value="ViewProfilingLogsHandler.*ashx" type="regex" />
			<!--if you want to disable profiling globally-->
			<!--<add key="disable" />-->
		</filters>
	</nanoprofiler>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- 為避免洩漏中繼資料資訊，請在部署之前將下列值設定為 false -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- 若要基於偵錯的目的接收錯誤中的例外狀況詳細資料，請將下列值設為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<nanoprofiler />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<extensions>
			<behaviorExtensions>
				<add name="nanoprofiler" type="EF.Diagnostics.Profiling.ServiceModel.Configuration.WcfProfilingBehaviorElement, NanoProfiler.Wcf" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
	<system.webServer>
		<!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
		<directoryBrowse enabled="true"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="NanoProfilerImportModule" type="EF.Diagnostics.Profiling.Web.Import.Handlers.NanoProfilerImportModule, NanoProfiler.Web.Import" />
		</modules>
	</system.webServer>

</configuration>
